body {
    font-family: Arial, sans-serif;
    margin: 0;
}

main{
    background-color:#0f0e0e;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1% 2%; /* Adjust padding for better spacing */
    margin-top: 90px;
    
}

form {
    max-width: 25em; /* Adjust max-width for responsiveness */
    width: 100%;
    margin: 0 auto;
    margin-bottom: 8em; /* Adjust margin-bottom to leave space for the form */
    
    
}

h1 {
    text-align: center;
    color: white; /* Set heading text color */
}

label {
    display: block; /* Make label a block-level element */
    margin-bottom: 0.5em; /* Adjust spacing between labels */
    color: #555; /* Set label text color */
    
}

input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
    border-color: whitesmoke;
    background-color: black;
    color: white;
}

input::placeholder {
    color: white; /* Set placeholder text color */
}

textarea {
    width: 80%; /* Adjust width for responsiveness */
    height: 8em; /* Adjust height for responsiveness */
    border-color: whitesmoke;
    background-color: black;
    color: white;
}

textarea::placeholder {
    color: white; /* Set placeholder text color */
}

/* Style the form container (optional) */
.form-container {
    max-width: 25em; /* Adjust max-width for responsiveness */
    width: 100%;
    background-color: black; /* Set background color around the form */
    padding: 1em;
    border-radius: 0.5em; /* Add rounded corners to the form container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */ 
}

/*_____________________FORM WARNING_____________________*/
#confirmation-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 999;
}

/* Style for the overlay background */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

/* Show the confirmation message when the checkbox is checked */
#confirmation:checked + #overlay + #confirmation-message {
    display: block;
}

/* Style for the form container */
#form-container {
    text-align: center;
    margin-top: 50px;
}

/* Style for the submit button */
#submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}