@media print {
    body {
        font-family: Arial, sans-serif; 
        margin: 10mm 10mm 10mm 10mm; 
    }

    header, footer, .open-btn, .modal-container, .close {
        display: none;
    }

    main {
        margin-left: 0; 
    }

    .portfolio-content {
        width: 100%; 
    }

    .modal-content {
        margin: 0 auto; 
    }

    .modal-content ul {
        list-style: none;
        padding: 0;
    }

    .modal-content li {
        margin-bottom: 10px;
    }

    .modal-content img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .modal-content a {
        color: #000; 
        text-decoration: none;
    }
}